#product-modal {

  .product-info {
    margin-bottom: 20px;

    .product-thumbnail {
      margin-right: 10px;
    }

    .product-link {
      font-size: 1.4em;
      font-weight: bold;
    }
  }

  .cart-options {
    border-left: 1px solid #e5e5e5;

    .cart {
      font-size: 1.2em;
      margin-bottom: 5px;
    }

    .cart-content, .shipping {
      margin-bottom: 15px;

      .text-success {
        font-weight: bold;
      }
    }
  }
}